<div id="<%= dom_id cinema %>">
  <p>
    <strong>Name:</strong>
    <%= cinema.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= cinema.city %>
  </p>

  <p>
    <strong>Allocine:</strong>
    <%= cinema.allocine_id %>
  </p>

</div>
